*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background-color: black;
}

p,h1,h2,h3{
    color: beige;
}

nav>ul{
    display: flex;
    justify-content: space-evenly;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>ul{
    display: flex;
    gap: 50px;
}

.sectioncontact{
    display: flex;
}